{% if settings.bf-countdown-show %}
  {% assign endDate = settings.bf-countdown-enddate | date: '%Y-%m-%dT%H:%M:%SZ' %}
	{% assign now = 'now' | date: '%Y-%m-%dT%H:%M:%SZ' %}
  <div class="bf-countdown">
    <h3 class="text-center">HURRY! CYBER MONDAY EXTENDED SALE ENDS IN</h3>
    <div class="clock"></div>
  </div>
  <script type="text/javascript">
    var clock;

    $(document).ready(function() {

      // Grab the current date
      var currentDate = new Date('{{now}}');

      // Set some date in the future. In this case, it's always Jan 1
      var futureDate  = new Date('{{endDate}}');
      console.log(futureDate);

      // Calculate the difference in seconds between the future and current date
      var diff = futureDate.getTime() / 1000 - currentDate.getTime() / 1000;

      // Instantiate a coutdown FlipClock
      clock = $('.clock').FlipClock(diff, {
        clockFace: 'DailyCounter',
        countdown: true
      });
      
      $('.clock').click(function(e) { e.preventDefault(); });
    });
  </script>
{% endif %}