{% comment %}
  DO NOT MODIFY MANUALLY
  This asset is generated automatically by Talkable Integration at 9/28/17 7:17PM
{% endcomment %}
<div class="page container">
  <h1>{{page.title}}</h1>
<div id="talkable-offer"></div>
</div>